/crash-reports
/plugins
/smp
/smp_nether
/smp_the_end
/world
/world_nether
banned-ips.json
banned-players.js
bukkit.yml
commands.yml
eula.txt
help.yml
nohup.out
ops.json
permissions.yml
server.jar
server.properties
server1.16.1.jar
spigot.yml
start.sh
usercache.json
wepif.yml
whitelist.json
